<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RAILWAY_PROJECT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>sd</servlet-name>
    <servlet-class>servletss.StateDistrict</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sd</servlet-name>
    <url-pattern>/railway/stateDistrict</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vc</servlet-name>
    <servlet-class>servletss.ValidationCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vc</servlet-name>
    <url-pattern>/railway/validationCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>go</servlet-name>
    <servlet-class>servletss.GetOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>go</servlet-name>
    <url-pattern>/railway/getOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>co</servlet-name>
    <servlet-class>servletss.CheckOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>co</servlet-name>
    <url-pattern>/railway/checkOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sutd</servlet-name>
    <servlet-class>servletss.SignUpToDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sutd</servlet-name>
    <url-pattern>/railway/signUpSuccessful</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lauth</servlet-name>
    <servlet-class>servletss.LoginAuthentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lauth</servlet-name>
    <url-pattern>/railway/loginAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>srcdest</servlet-name>
    <servlet-class>servletss.SourceAndDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>srcdest</servlet-name>
    <url-pattern>/railway/srcanddest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>routedis</servlet-name>
    <servlet-class>servletss.RouteDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>routedis</servlet-name>
    <url-pattern>/railway/routedisp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tstcs</servlet-name>
    <servlet-class>servletss.TrainSelectionToClassSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tstcs</servlet-name>
    <url-pattern>/railway/trainSeltoClassSel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cstqd</servlet-name>
    <servlet-class>servletss.ClassSelectionToQuotaDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cstqd</servlet-name>
    <url-pattern>/railway/classSelToQuotaDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>as</servlet-name>
    <servlet-class>servletss.AvailableSeats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>as</servlet-name>
    <url-pattern>/railway/availableSeats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gqlwi</servlet-name>
    <servlet-class>servletss.GetQuotaListWithId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gqlwi</servlet-name>
    <url-pattern>/railway/getquotalistwithid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gsap</servlet-name>
    <servlet-class>servletss.GetSeatsAndPrice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gsap</servlet-name>
    <url-pattern>/railway/getseatsandprice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sp</servlet-name>
    <servlet-class>servletss.SeatPreferences</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sp</servlet-name>
    <url-pattern>/railway/seatpreferences</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>btpg</servlet-name>
    <servlet-class>servletss.BookingToPaymentGateway</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>btpg</servlet-name>
    <url-pattern>/railway/bookTopaymentgateway</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tg</servlet-name>
    <servlet-class>servletss.TicketGeneration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tg</servlet-name>
    <url-pattern>/railway/ticketGeneration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ip</servlet-name>
    <servlet-class>servletss.InsertPassengers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ip</servlet-name>
    <url-pattern>/railway/insertPassengers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DT</servlet-name>
    <servlet-class>servletss.DownloadTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DT</servlet-name>
    <url-pattern>/railway/ticket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>spm</servlet-name>
    <servlet-class>servletss.SendPDFMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>spm</servlet-name>
    <url-pattern>/railway/sendPDFMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dnls</servlet-name>
    <servlet-class>servletss.DeleteNonLoginSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dnls</servlet-name>
    <url-pattern>/railway/deleteNonLoginSession</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dt</servlet-name>
    <servlet-class>servletss.dynamicTesting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dt</servlet-name>
    <url-pattern>/railway/dynamictesting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>di</servlet-name>
    <servlet-class>servletss.dynamicInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>di</servlet-name>
    <url-pattern>/railway/dynamicinsert</url-pattern>
  </servlet-mapping>
</web-app>